* {
   margin: 0;
   padding: 0;
}
table {
   border: 1px solid #000;
   width: 500px;
   margin: 0 auto;
   color: aliceblue;
   font-size: 20px;
}
tr:nth-child(odd) > td:nth-child(even) {
   background-color: rgb(63, 22, 17);
}
tr:nth-child(even) > td:nth-child(odd) {
   background-color: rgb(63, 22, 17);
}
td {
   border: 1px solid #000;
   width: 50px;
   height: 50px;
   background-color: rgb(184, 128, 54);
}
td span {
   position: relative;
   top: -20px;
   left: 40px;
   z-index: 2;
}
td p {
   position: fixed;
   z-index: 1;
}
.checker {
   position: relative;
   left: 10px;
   top: 5px;
   z-index: 3;
   margin: 0;
   padding: 0;
   width: 50%;
}
img {
   cursor: grab;
}
